    <IfModule mod_rewrite.c>
    ErrorDocument 404 https://www.gutes-gewissen.com/
    ErrorDocument 500 https://www.gutes-gewissen.com/
    
    RewriteEngine On
    RewriteBase /
    
    AddHandler x-mapp-php6 .php3 .php4 .php .phtml    
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /_site/index.php [L]
    RewriteCond %{SERVER_PORT} 80

# If you want to make 301 redirect from non-www to www domain add this following code:
    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]
    Redirect 301 "/oekostrom-und-oekogas/greenpeace-energy/" "/oekostrom-und-oekogas/green-planet-energy/"
    Redirect 301 "/secondhand-und-upcycling/roadside-vintage/" "/secondhand-und-upcycling/"
    </IfModule>