---
---

@import '/assets/bootstrap/css/bootstrap.css';
$basecolor: #28A745;

a {
  color: $basecolor;
}

a:hover {
  color: darken($color: $basecolor, $amount: 20%);
  text-decoration: none;
}

.logo {
  height: 25px;
}

.dropdown-links a {
  color: black;
}

.listing {
  padding-left: 0.75em;
  list-style: none;
}

.listing li::before {
  content: "\2022"; 
  color: $basecolor;
  margin-left: -0.75em;
}

.search-result-img {
  max-height: 32px;
  max-width: 32px;
}

.header-line {
  background-color: $basecolor;
  height: 2px;
}

.jumbotron {
  background-color: lighten($color: lightgray, $amount: 15%);
}

.affili {
  cursor: pointer;
}

.black-link {
  color: black;
}

.btn-outline-success {
  background-color: white !important;
}

.btn-outline-success:hover {
  background-color: $basecolor !important;
}

.overlay {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.max-width-300 {
  max-width: 300px;
}

.alternative-list-img {
  object-fit: contain;
  width: 100%;
  max-height: 5rem;
}

.footer-text {
  font-size: 80%;
}

.cta-bar {
  display: none;
  margin: 30vh auto 0;
}

.img-cta-bar {
  max-height: 7vh;
  max-width: 7vw;
}