---
---

@import 'bootstrap/bootstrap';

.header {
  padding: 10px 0 3px 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
  width: 21.8rem;
  height: 100%;
}

.title-link {
  color: black;
}
.card-border:hover {
  box-shadow: 0px 0px 2px 1px gray;
}
.title-link:hover {
  color: black;
  text-decoration: none;
}

.logo {
  height: 25px;
}

.btn-outline-success {
  background-color: white !important;
}

.affili {
  cursor: pointer;
}

.btn-outline-success:hover {
  background-color: $success !important;
}

.overlay {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  box-shadow: 0px 2px 3px 0px rgba(217, 217, 217, 1);
  background-color: white;
  position: absolute;
  z-index: 1;
}
